@tailwind base;
@tailwind components;
@tailwind utilities;

.w-limit {
    max-width: 1200px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.heading-text {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph-text {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 620px) {
    .heading-text {
        font-size: 1.3rem;
    }

    .paragraph-text {
        font-size: 0.6rem;
    }
}

.pastEventsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
}

.customMinimumWidth {
    min-width: 280px; 
    max-width: 280px;
}

@media (max-width: 560px) {
    .customMinimumWidth {
        min-width: 100%; 
        width: 100%; 
    }
    .pastEventsGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem;
    }
}

